.Component-title {
    margin-top: 50px;
    font-family: 'Noto Serif KR', serif;
    font-size: 30px;
}

.Component-sub-title {
    font-family: 'Noto Serif KR', serif;
    margin-top: 10px;
    font-size: 16.3px;
}