.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  font-family: Amaranth;
}

.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amaranth-bold {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.amaranth-regular-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.amaranth-bold-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.Footer {
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer a {
  color: black;
  text-decoration: underline;
}

.TopButton {
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#AboutMe {
  z-index: 1;
}

.ContentTitle {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.ContentSubTitle {
  text-align: center;
  font-family: "Amaranth", sans-serif;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-100px, 100px);
    opacity: 0;
  }
}

.shooting-star {
  width: 2px;
  height: 2px;
  background-color: #FFD9FA;
  position: fixed;
  border-radius: 50%;
  animation: shooting-star 1s linear infinite;
  transition: transform 0.3s ease;
}