.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Amaranth;
}

.App-link {
  color: #61dafb;
}



.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contentHeader {
  text-align: center;
}

.topButtonArea {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer {
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}