html,
body,

#intro {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
  background-color: #FFD9EC;;
}

#content {
  background-color: white;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}