.navBarContainer {
    visibility: visible;
    text-align: left;
    background-color: #F361A6;
    display: flex;
    height: 40px;
    transition: top 0.3s;
    z-index: 2;
    position: relative;
    top: 0;
    width: 100%;
}

.navBarContainer.fixed {
    visibility:visible;
    text-align: left;
    background-color: #F361A6;
    height: 40px;
    transition: top 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navBar {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 30px;
}
  
.navItem {
    margin-right: 50px;
    color: white;
    list-style: none;
}

.navItem.active {
    color: #660058;
}