.navBarContainer {
    visibility: visible;
    text-align: left;
    background-color: #F361A6;
    display: flex;
    justify-content: left;
    height: 40px;
    transition: top 0.3s;
}

.navBarContainer.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 필요에 따라 조정 */
}
  
.navBar {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 30px;
}
  
.navItem {
    margin-right: 50px;
    color: white;
    list-style: none;
}

.navItem.active {
    color: #660058;
}