.main {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #FFD9EC;
}

.transitionsItem {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 4em;
  font-weight: 800;
  text-transform: none;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 100px;
  font-family: Handlee;
}

.outerContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.content {
  background-color: white;
}

.aboutMeHeader {
  text-align: center;
}

.aboutMe {
  background-color: white;
}

.contact {
  background-color: #99004C;
  text-align: center;
  color: white;
}

.contactHeader {
  color: white;
  text-align: center;
}

.footer {
  text-align: center;
  height: 80px;
  font-size: large;
  background-color: #FFD9EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}