.main {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.transitionsItem {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3em;
  text-transform: none;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 40px;
  font-family: Amaranth;
}

.outerContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFD9EC;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.contentHeader {
  text-align: center;
}

.topButtonArea {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer {
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}